include header
<section>
<article>
<h1>Log In</h1>
<a href="/login">Log In</a>
<form id="formLogin" name="formLogin" method="post" action="/login">
<input name="nameInput" id="nameInput" type="text"></input>
<input name="mailInput" id="mailInput" type="email"></input>
<input name="passInput" id="passInput" type="password"></input>
<input name="" id="" type="submit" value="submit"></input>
</form>
</article>
</section>
include footer