* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #ccc;
}
h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	padding-left: 10px;
	padding-top: 7px;
	text-shadow: 1px 1px 0 #ddd;
	color: #111;
}
header {
	width: 100%;
	height: 65px;
	background-color: #222;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	position: relative;
	z-index: 2;
	border-bottom: 1px solid #999;
}
section {
	width: 100%;
	background-color: #bbb;
	position: relative;
	z-index: 1;
}
article {
	min-height: 410px;
	position: relative;
}
footer {
	width: 100%;
	height: 200px;
	background-color: #222;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	position: relative;
	z-index: 2;
	border-top: 1px solid #777;
	bottom: 0;
}
#menuToggler {
	width: 48px;
	height: 48px;
	background-color: #777;
	float: right;
	margin: 7px 7px 0 0;
}
#userImg {
	width: 48px;
	height: 48px;
	background-color: #777;
	float: right;
	margin: 7px 7px 0 0;
}
#logo {
	float: left;
	color: #000;
	font-family: 'Covered By Your Grace', cursive;
	font-size: 30px;
	padding: 10px;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.1);
}
ul.matterList {
	background-color: transparent;
}
li.matterListItem {
	list-style: none;
	height: 60px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000', GradientType=0 ); /* IE6-9 */
background-color: #ccc;
	border-top: 1px solid #ccc;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
}
li.matterListItem:hover {
	background-color: #eee;
}
li.matterListItem > * {
	display: inline-block;
	float: left;
}

li.matterListItem.active {
	overflow: auto;
	height: 200px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,0.25)), color-stop(100%, rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#00000000', GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #999;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	background-color: #eee;
	cursor: auto;
}
#socialLinks {
	height: 40px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.listItemTopBar {height:60px; width:100%;}
.listItemTopBar > * {float:left;}
.listItemTopBar img {width:24px; height:24px; margin:18px 18px 18px 24px;}
/*.listItemTopBar img {width:36px; height:36px; margin:10px 10px 0 20px;}*/

.listItemTopBar h1 {
	font-family: 'Architects Daughter';
	font-size: 28px;
	color: #333;
	line-height:60px;
	height:60px;
	padding:0;
	margin-right:10px;
}
.active .listItemTopBar h1 {
	font-family: 'Architects Daughter';
	font-size: 28px;
	color: #333;
}